/* Estilo para links não visitados (novos) */
.link-novo {
    color: blue;
    text-decoration: none;
}

/* Estilo para links visitados */
.link-visitado {
    color: purple;
    text-decoration: underline;
}

/* Estilo para links quando o mouse está sobre eles */
.link-sobre:hover {
    color: red;
    text-decoration: underline;
}
