/* Reset de margens e preenchimentos padrão para o body e o html */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Estilização do container principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% da altura do viewport */
    background-color: gray; /* Cor de fundo para visualização */
}

/* Estilização do div centralizado */
.centered-box {
    width: 500px;
    height: 500px;
    background-color: #ffffff; /* Cor de fundo do div */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: Arial, sans-serif;
    padding: 5px; /* Adicionando um padding de 5px */
}
